{% extends "chat/layout.html" %}

{% block body %}

    <!-- Messages will be displayed in a scrollable box here -->
    <div id="messages-view">
        <h1> Select or create a group to view messages</h1>
    </div>

    <!-- A chatbox with a clickable button to post a new message -->
    <div id="chat-view" class="bottom">
        <h5> Chat </h5>
        <form>
            <textarea id='chatbox' rows="2" cols="80" placeholder="write here"></textarea>
            <button type="button" id="chat_button">Submit</button>
        </form>
        
    </div>

    
{% endblock %}